@page "/register"

@inject HttpClient Http
@inject NavigationManager Navigation
@using System.Net.Http.Json

<div class="container">
    <img src="images/logo.png" alt="KüchenQuest Logo" class="logo">
    <h1>KüchenQuest</h1>
    <div class="input-group">
        <input type="email" @bind="Email" placeholder="Email">
    </div>
    <div class="input-group">
        <input type="text" @bind="Username" placeholder="Anmeldename">
    </div>
    <div class="input-group">
        <input type="password" @bind="Password" placeholder="Passwort">
    </div>
    <button class="register-btn" @onclick="OnRegister">Registrieren</button>
</div>

@code {
    private string Email { get; set; } = "";
    private string Username { get; set; } = "";
    private string Password { get; set; } = "";

    private async Task OnRegister()
    {
        try
        {
            var userData = new { Email, Username, Password };
            string url = "https://192.168.50.240:7067/KuechenQuest/User/Register";
            await Http.PostAsJsonAsync(url, userData);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Fehler bei der Registrierung: " + ex.Message);
        }

        Navigation.NavigateTo("/login"); // Nach Registrierung zur Login-Seite
    }
}
